.product {

    &__box {
        display: flex;
        justify-content: space-between;
        padding: 0 clamp(0rem, -1.01rem + 4.49vw, 4.375rem); //70-0

        @include mxw($lg) {
            padding: 0;

        }

        @include mxw($md) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__slider {
        display: flex;
        margin-right: clamp(1.25rem, 0.096rem + 5.13vw, 6.25rem);//20-100

        @include mxw($lg) {
            flex-direction: column;
            max-width: clamp(21.563rem, 20.365rem + 5.32vw, 26.75rem); //3345-428
        }

        @include mxw($md) {
            margin-bottom: 30px;
            margin-right: 0;
        }
    }

    &__big-group {
        width: clamp(21.563rem, 19.327rem + 9.94vw, 31.25rem); //345-500
        height: clamp(18.75rem, 15.865rem + 12.82vw, 31.25rem); //300-500
        margin-right: clamp(0rem, -0.26rem + 1.15vw, 1.125rem); //0-18

        @include mxw($lg) {
            margin-right: 0;
            margin-bottom: clamp(0.5rem, 0.413rem + 0.38vw, 0.875rem); //8-14
        }
    }

    &__big-img {
        width: 100%;
        height: 100%;
    }

    &__small-group {
        @include mxw($lg) {
            display: flex;
            justify-content: space-around;
        }
    }

    &__small {
        display: block;
        width: clamp(5rem, 4.567rem + 1.92vw, 6.875rem); //80-110
        height: clamp(5rem, 4.567rem + 1.92vw, 6.875rem); //80-110
        margin-bottom: clamp(0rem, -0.26rem + 1.15vw, 1.125rem); //0-18
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        @include mxw($lg) {
            margin-bottom: 0;
        }
    }

    &__name {
        font-weight: 400;
        font-size: clamp(1.25rem, 1.106rem + 0.64vw, 1.875rem); //20-30
        text-transform: uppercase;

        span {
            padding-left: 5px;
            text-transform: lowercase;
            font-size: clamp(0.75rem, 0.692rem + 0.26vw, 1rem); //12-16
            color: rgba($c-black, 0.3);
        }
    }

    &__price {
        display: block;
        font-size: clamp(1.125rem, 0.981rem + 0.64vw, 1.75rem); //18-28
        color: $c-accent;
        margin-bottom: clamp(0.625rem, 0.438rem + 0.83vw, 1.438rem); //10-23

        span {
            padding-right: 10px;
            font-size: clamp(0.875rem, 0.76rem + 0.51vw, 1.375rem); //14-22
            text-decoration-line: line-through;
            color: $c-silver;
        }
    }

    &__colors,
    &__size,
    &__submit {
        display: flex;
        align-items: center;
        margin-bottom: clamp(1rem, 0.885rem + 0.51vw, 1.5rem); //16-24
    }

    &__colors-item,
    &__size-item {
        margin-right: clamp(0.75rem, 0.692rem + 0.26vw, 1rem); //12-16
    }

    &__colors-btn {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        border: 1px solid $c-black;
    }

    &__subtitle {
        display: block;
        font-size: clamp(1rem, 0.942rem + 0.26vw, 1.25rem); //16-20
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__btn {
        text-transform: uppercase;
        background-color: transparent;
        display: inline-block;
        font-size: clamp(0.875rem, 0.846rem + 0.13vw, 1rem); //14-16
        padding: 10px 16px;
        border: 1px solid $c-silver;
        cursor: pointer;

        &:hover{
            background-color: $c-accent;
            color: $c-white;
            transition: all 0.3s linear;
            border:1px solid $c-accent;
        }

        &.active{
            color: $c-white;
            background-color: $c-darkAccent;
            border: 1px solid $c-darkAccent;
        }
    }

    &__material {
        margin-bottom: clamp(1rem, 0.798rem + 0.9vw, 1.875rem); //16-30
    }

    &__submit-item {
        margin-right: clamp(0.313rem, 0.038rem + 1.22vw, 1.5rem); //5-24

        &:last-child {
            margin-right: 0;
        }
    }

    &__submit-btn {
        position: relative;
        width: clamp(10.625rem, 9.471rem + 5.13vw, 15.625rem); //170-250
        height: clamp(2.5rem, 2.356rem + 0.64vw, 3.125rem); //40-50
        text-align: center;
        background-color: $c-accent;
        color: $c-white;
        font-size: clamp(0.875rem, 0.846rem + 0.13vw, 1rem); //14-16
        cursor: pointer;

        &--basket {
            position: relative;
            padding-left: 38px;

            &::after {
                @include pseudo();
                @include bg-image();
                left: clamp(1.625rem, 1.279rem + 1.54vw, 3.125rem); //26-50
                top: 50%;
                width: clamp(1.063rem, 0.904rem + 0.71vw, 1.75rem); //17-28
                height: clamp(1.188rem, 1.058rem + 0.58vw, 1.75rem); //19-28
                transform: translateY(-50%);
                background-image: url('/./images/icons/basket.svg');
            }
        }

        &:hover{
            box-shadow: 0px 5px 4px 0px rgba(37,37,37,0.27);
            transition: box-shadow 0.3s linear;
        }

        &.active{
            background-color: $c-darkAccent;
        }
    }

    &__description {
        position: relative;
        width: 100%;
    }

    &__description-btn {
        position: relative;
        background-color: $c-white;
        text-transform: uppercase;
        padding: 0 0 10px 0;
        text-align: left;
        width: 100%;
        z-index: 5;
        border-bottom: 1px solid $c-silver;
        cursor: pointer;

        &::after {
            @include pseudo();
            @include bg-image();
            right: 0;
            top: 0;
            transform: rotate(90deg);
            transition: transform 0.3s linear;
            width: 18px;
            height: 18px;
            background-image: url('/./images/icons/chevron-right.svg');
            filter: invert(16%) sepia(27%) saturate(405%) hue-rotate(333deg) brightness(91%) contrast(92%);
        }

        &.active {
            &::after {
                transform: rotate(-90deg);
                transition: transform 0.3s linear;
            }
        }
    }

    &__description{
        width: 100%;
        overflow: hidden;

        &.active{
            height: 32px;
        }
    }

    &__description-text {
        z-index: 10;
        padding-top: clamp(0.625rem, 0.553rem + 0.32vw, 0.938rem); //10-15
        transform: translateY(0);
        transition: transform 0.3s linear;

        &.active {
            transform: translateY(-200%);
            transition: transform 0.3s linear;
        }
    }

    &__description-list {

    }

    &__description-item {
        margin-bottom: clamp(0.625rem, 0.553rem + 0.32vw, 0.938rem); //10-15

        &:last-child {
            margin-bottom: 0;
        }

        span {
            display: block;
            font-weight: 500;
            font-size: clamp(0.875rem, 0.817rem + 0.26vw, 1.125rem); //14-18
            margin-bottom: clamp(0.313rem, 0.24rem + 0.32vw, 0.625rem); //5-10
        }

        p {
            font-size: clamp(0.75rem, 0.692rem + 0.26vw, 1rem); //12-16
        }
    }

}