.terms {
    margin-bottom: clamp(0rem, -0.411rem + 1.9vw, 1.875rem);
    &__list {
        position: relative;
    }

    &__item {
        border-bottom: 1px solid $c-silver;
        width: 100%;
        margin-bottom: clamp(0.75rem, 0.709rem + 0.19vw, 0.938rem); //10-15

        &:last-child{
            border-bottom: transparent;
        }

        &.active{
            border-bottom: 1px solid $c-accent;
            &:last-child{
                border-bottom: transparent;
            }
        }

    }

    &__btn {
        position: relative;
        font-size: clamp(1rem, 0.945rem + 0.25vw, 1.25rem);//16-20
        margin-bottom: clamp(0.75rem, 0.709rem + 0.19vw, 0.938rem);//12-15
        width: 100%;
        text-align: left;
        padding-left: 4px;
        cursor: pointer;

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            background-color: #e0bea2;
            right: 5px;
            top: 50%;
            transform: translateY(-50%) rotate(0);
        }

        &::before {
            transform: translateY(-50%) rotate(90deg);
            transition: transform 0.3s linear;
        }

        &.active {
            &::before {
                transform: translateY(-50%) rotate(0);
            }
        }
    }

    &__decription {
        transform: translateX(400%);
        width: 100%;
        left: 22rem;
        top: 0;
        height: 0;

        &.show {
            transform: translateX(0);
            transition: transform 0.4s linear;
            height: auto;
        }
    }

    &__decription-title {
        margin-bottom: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);//18-24
        @include mxw($lg) {
            display: none;
        }
    }

    &__decription-item {
        margin-bottom: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);//12-20
    }

    &__decription-name {
        font-weight: 400;
        display: block;
        position: relative;
        padding-left: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);//18-24
        font-size: clamp(0.75rem, 0.668rem + 0.38vw, 1.125rem);//14-18
        margin-bottom: clamp(0.375rem, 0.284rem + 0.45vw, 0.625rem);//6-10

        &::after {
            content: '';
            position: absolute;
            width: clamp(0.5rem, 0.455rem + 0.23vw, 0.625rem); //8-10
            height: clamp(0.5rem, 0.455rem + 0.23vw, 0.625rem);//8-10
            background-color: $c-accent;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}