.carousel {
  padding-top: 5rem;
  margin-bottom: clamp(0rem, -0.411rem + 1.9vw, 1.875rem);

  &__title {
    margin-bottom: clamp(1.875rem, 1.514rem + 1.6vw, 3.438rem); // 30 - 55
    transform: translateX(clamp(0rem, -1.818rem + 9.09vw, 5rem));
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 25px;

    @include mxw($md) {
      gap: 10px;
    }

    @include mxw($sm) {
      gap: 0;
      justify-content: center;
    }
  }

  &__swiper {
    max-width: 80rem;

    @include mxw($lg) {
      max-width: 50rem;
    }
    @include mxw($md) {
      max-width: 36rem;
    }
    @include mxw($sm) {
      max-width: 100%;
    }
  }

  &__list {
    @include mxw($sm) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      gap: 1rem;
    }

    @include mxw($xs) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}

