.communication-form {
    &__data {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        @include mxw($sm) {
            flex-direction: column;
            gap: 0;
        }
    }

    &__group {
        position: relative;
        padding-bottom: clamp(0.75rem, 0.64rem + 0.51vw, 1.25rem); //10-20
        width: 100%;

        &.error .form-msg {
            color: $c-red;
            opacity: 1;
        }
    }

    &__input,
    &__textarea {
        width: 100%; //100%
        border: 1px solid $c-silver;
        padding: clamp(0.625rem, 0.57rem + 0.25vw, 0.875rem) 0 clamp(0.625rem, 0.57rem + 0.25vw, 0.875rem) clamp(0.625rem, 0.488rem + 0.63vw, 1.25rem); //10-0-10-10
        color: rgba($c-black, 0.6);

        &:focus-within {
            border: 1px solid $c-accent;
        }

        @include mxw($sm) {
            width: 100%;
        }
    }

    &__textarea {
        padding: clamp(0.75rem, 0.723rem + 0.13vw, 0.875rem) 0 0 clamp(0.625rem, 0.488rem + 0.63vw, 1.25rem); //12-0-0-10
    }

    &__btn {
        text-transform: uppercase;
        width: 100%;
    }

    &__msg {
        bottom: 0;
        left: 0;
    }
}