.footer-nav {

  &--catalog {
    @include mxw($sm) {
      display: none;
    }
  }

  &--shop {
    @include mxw($md) {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 0.6rem;
  }

  &__link {
    display: block;
    transition: color .3s linear;

    &:hover {
      color: $c-accent;
    }
  }
}