.logo {
  &__img {
    display: block;
    object-fit: contain;
    height: 2rem;
    width: clamp(12.5rem, 10.538rem + 8.72vw, 21rem); // 200-336
    transition: filter .3s linear;
    &:hover {
      filter: invert(80%) sepia(38%) saturate(244%) hue-rotate(343deg) brightness(95%) contrast(84%);
    }

    &--black {
      &:hover {
        filter: invert(85%) sepia(34%) saturate(407%) hue-rotate(325deg) brightness(93%) contrast(87%);
      }
    }

    &--white{
      &:hover {
        filter: invert(20%) sepia(37%) saturate(244%) hue-rotate(343deg) brightness(94%) contrast(87%);
      }
    }
  }
}