<div class="catalog__products">
  <div class="catalog__search">

    <button class="catalog__open" type="button">
      <span class="sr-only">Кнопка для відкриття меню з фільтрацією товарів</span>
    </button>

    <div class="catalog__wrapper">

      <div class="catalog__group">
        <label class="sr-only catalog__label" for="search">Пошук товарів на сайті</label>
        <input class="input catalog__input" type="text" id="search" name="search" placeholder="Пошук">
      </div>

      <div class="search-popup catalog__popup">
        <ul class="search-popup__list">
          <li class="search-popup__item">
            <a class="search-popup__link" href="">
              <i>Плед-покрив</i>ало косичка "Джинс" бавовняний
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="catalog__list">
    <li class="catalog__item">
      <article class="product-card new">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/5.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">IZZI </h3>
          <span class="product-card__matherial">Мікрофібра</span>
          <div class="product-card__price">
            <span class="product-card__old">₴ <span>1100.00</span></span>
            <span class="product-card__new">₴ <span>1370.00</span></span>
          </div>
        </a>
      </article>
    </li>
    <li class="catalog__item">
      <article class="product-card new">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/6.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">Aphrodite Premium</h3>
          <span class="product-card__matherial">Сатин</span>
          <div class="product-card__price">
            <span class="product-card__old">₴ <span>1200.00</span></span>
            <span class="product-card__new">₴ <span>3190.00 </span></span>
          </div>
        </a>
      </article>
    </li>
    <li class="catalog__item">
      <article class="product-card new">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/7.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">Косичка</h3>
          <span class="product-card__matherial">Мікрофібра</span>
          <div class="product-card__price">
            <span class="product-card__old">₴ <span>1100.00</span></span>
            <span class="product-card__new">₴ <span>1400.00</span></span>
          </div>
        </a>
      </article>
    </li>
    <li class="catalog__item">
      <article class="product-card new">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/8.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">Вікторія Однот</h3>
          <span class="product-card__matherial">Жатка+Котон</span>
          <div class="product-card__price">
            <span class="product-card__old">₴ <span>2303.00</span></span>
            <span class="product-card__new">₴ <span>2590.00 </span></span>
          </div>
        </a>
      </article>
    </li>
    <li class="catalog__item">
      <article class="product-card new">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/9.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">Косичка</h3>
          <span class="product-card__matherial">Мікрофібра</span>
          <div class="product-card__price">
            <span class="product-card__old">₴ <span>630.00</span></span>
            <span class="product-card__new">₴ <span>790.00 </span></span>
          </div>
        </a>
      </article>
    </li>
    <li class="catalog__item">
      <article class="product-card new sale">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/1.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">BEIGE TONE</h3>
          <span class="product-card__matherial">Страйп - Сатин</span>
          <div class="product-card__price">
            <span class="product-card__old">₴ <span>2390.00</span></span>
            <span class="product-card__new">₴ <span>1800.00</span></span>
          </div>
        </a>
      </article>
    </li>
    <li class="catalog__item">
      <article class="product-card sale">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/2.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">Косичка</h3>
          <span class="product-card__matherial">Мікрофібра</span>
          <div class="product-card__price">

            <span class="product-card__old">₴ <span>1300.00 </span></span>
            <span class="product-card__new">₴ <span>790.00 </span></span>
          </div>
        </a>
      </article>
    </li>
    <li class="catalog__item">
      <article class="product-card sale">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/5.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">Askania Premium </h3>
          <span class="product-card__matherial">Сатин</span>
          <div class="product-card__price">
            <span class="product-card__old">₴ <span>3190.00 </span></span>
            <span class="product-card__new">₴ <span>2500.00 </span></span>
          </div>
        </a>
      </article>
    </li>
    <li class="catalog__item">
      <article class="product-card sale">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/4.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">Cube</h3>
          <span class="product-card__matherial">Мікрофібра</span>
          <div class="product-card__price">
            <span class="product-card__old">₴ <span>680.00</span></span>
            <span class="product-card__new">₴ <span>500.00</span></span>
          </div>
        </a>
      </article>
    </li>
    <li class="catalog__item">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/5.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">Askania Premium </h3>
          <span class="product-card__matherial">Сатин</span>
          <div class="product-card__price">
            <span class="product-card__old">₴ <span>3190.00 </span></span>
            <span class="product-card__new">₴ <span>2500.00 </span></span>
          </div>
        </a>
      </article>
    </li>
    <li class="catalog__item">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/1.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">Косичка</h3>
          <span class="product-card__matherial">Сатин</span>
          <div class="product-card__price">
            <span class="product-card__old">₴ <span>3190.00 </span></span>
            <span class="product-card__new">₴ <span>2500.00 </span></span>
          </div>
        </a>
      </article>
    </li>
    <li class="catalog__item">
      <article class="product-card sale">
        <a class="product-card__link" href="#">
          <div class="product-card__banners"></div>
          <div class="product-card__img">
            <img src="./images/2.webp" alt="Картинка товару" width="262" height="231" loading="lazy">
          </div>
          <h3 class="product-card__name">Косичка</h3>
          <span class="product-card__matherial">Мікрофібра</span>
          <div class="product-card__price">
            <span class="product-card__old">₴ <span>1300.00 </span></span>
            <span class="product-card__new">₴ <span>790.00 </span></span>
          </div>
        </a>
      </article>
    </li>
  </ul>


  <nav class="pagination">
    <div class="nav-links">
      <a class="prev page-number" href="">« Попередня</a>
      <a class="page-number" href="">1</a>
      <span class="page-number current">2</span>
      <a class="page-number" href="">3</a>
      <a class="next page-number" href="">Наступна »</a>
    </div>
  </nav>
</div>