<header class="header">
  <div class="container">
    <nav class="header__navigation">
      <ul class="header__left">
        <li class="header__item">
          <a class="header__btn" href="catalog.html">каталог</a>
        </li>
        <li class="header__item">
          <a class="header__btn" href="#">умови</a>
        </li>
      </ul>
      <div class="header__center">
        <button class="header__burger">
          <span></span>
        </button>
        <a class="logo" href="index.html">
          <img class="logo__img logo__img--white header__logo" src="./images/icons/logo-white.svg" alt="логотип" />
        </a>
      </div>
      <a class="header__btn header__btn--about" href="#">про нас</a>
      <ul class="header__media">
        <li class="header__media-item">
          <a href="#" class="header__media-btn header__media-btn--instagram"></a>
        </li>
        <li class="header__media-item">
          <a href="#" class="header__media-btn header__media-btn--phone"></a>
        </li>
        <li class="header__media-item">
          <a href="product.html" class="header__media-btn header__media-btn--basket">

          </a>
          <span class="header__media-count basket-count-js">0</span>
        </li>
      </ul>
    </nav>
  </div>
  <div class="mobile">
    <button class="mobile__close"></button>
    <nav class="mobile__popup">
      <a class="logo mobile__logo" href="index.html">
        <img class="logo__img logo__img--white" src="./images/icons/logo-black.svg" alt="логотип" />
      </a>
      <ul class="mobile__list">
        <li class="mobile__item">
          <a class="mobile__btn" href="index.html">Головна</a>
        </li>
        <li class="mobile__item">
          <a class="mobile__btn" href="#">Акційні пропозиції</a>
        </li>
        <li class="mobile__item">
          <a class="mobile__btn" href="#">Новинки</a>
        </li>
        <li class="mobile__item">
          <a class="mobile__btn" href="#">Каталог</a>
        </li>
      </ul>
      <ul class="mobile__list mobile__list--category">
        <li class="mobile__item mobile__item--category">
          <a class="mobile__btn mobile__btn--category" href="#">Покривала</a>
        </li>
        <li class="mobile__item mobile__item--category">
          <a class="mobile__btn mobile__btn--category" href="#">Пледи</a>
        </li>
        <li class="mobile__item mobile__item--category">
          <a class="mobile__btn mobile__btn--category" href="#">Постільна білизна</a>
        </li>
        <li class="mobile__item mobile__item--category">
          <a class="mobile__btn mobile__btn--category" href="#">Декоративні подушки</a>
        </li>
        <li class="mobile__item mobile__item--category">
          <a class="mobile__btn mobile__btn--category" href="#">Спальні аксесуари</a>
        </li>
      </ul>
      <ul class="mobile__list">
        <li class="mobile__item">
          <a class="mobile__btn" href="#">Умови</a>
        </li>
        <li class="mobile__item">
          <a class="mobile__btn" href="#">Про Нас</a>
        </li>
        <li class="mobile__item">
          <a class="mobile__btn" href="#">Контакти</a>
        </li>
      </ul>
      <div class="contacts">
        <ul class="contacts__list">
          <li class="contacts__item">
            <a class="contacts__link contacts__link--inst" href="">
              loft.shoponline
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link contacts__link--email" href="mailto:loft.shoponline@gmail.com">
              loft.shoponline@gmail.com
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link contacts__link--phone" href="tel:098 00 00 000">
              +38(098) 00 00 000
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link contacts__link--location" href="">
              Ukraine, Lviv 118 Roksoliana Street
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>