<header class="header">
  <div class="container">
    <nav class="header__navigation">
      <ul class="header__left">
        <li class="header__item">
          <a class="header__btn" href="#">каталог</a>
        </li>
        <li class="header__item">
          <a class="header__btn" href="#">умови</a>
        </li>
      </ul>
      <div class="header__logo">
        <a class="logo" href="#">
          <img
            class="logo__img logo__img--white"
            src="./images/icons/logo-white.svg"
            alt="логотип"
          />
        </a>
      </div>
      <a class="header__btn header__btn--about" href="#">про нас</a>
      <ul class="header__media">
        <li class="header__media-item">
          <a
            href="#"
            class="header__media-btn header__media-btn--instagram"
          ></a>
        </li>
        <li class="header__media-item">
          <a href="#" class="header__media-btn header__media-btn--phone"></a>
        </li>
        <li class="header__media-item">
          <a href="#" class="header__media-btn header__media-btn--basket">
            <span class="header__media-count basket-count-js">0</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
