$f-light: 'Montserrat Light', sans-serif;
$f-regular: 'Montserrat Regular', sans-serif;
$f-medium: 'Montserrat Medium', sans-serif;
$f-semiBold: 'Montserrat SemiBold', sans-serif;
$f-bold: 'Montserrat Bold', sans-serif;

$c-white: #ffffff;
$c-green: #27ad55;
$c-red: #C64116;
$c-black: #252525;
$c-accent: #E0BEA2;
$c-darkAccent: #CCA88A;
$c-silver: #B3B3B3;

